
.Rhistory
avas/covelo.geojson
avas/covelo.geojson
avas/covelo.geojson
avas/covelo.geojson
avas/.DS_Store
tbd/.DS_Store
avas/.DS_Store
.DS_Store
avas/covelo.geojson
tbd/.DS_Store
.DS_Store
avas/.DS_Store
.DS_Store
.DS_Store
avas/.DS_Store
tbd/.DS_Store
.DS_Store
avas/.DS_Store
tbd/.DS_Store
