// Colors

$ucd-blue-000: #4F7094;
$ucd-blue-100: #022851;
$ucd-blue-pale: #CDD6E0;

$link-color: $ucd-blue-000;
$btn-primary-color: $ucd-blue-100;

$sidebar-color: $ucd-blue-pale;
$body-heading-color: $ucd-blue-100;

// Grid System

$header-height: 100px;